#    This file is part of the ChannelAutoForwarder distribution (https://github.com/xditya/ChannelAutoForwarder).
#    Copyright (c) 2021 Adiya
#    
#    This program is free software: you can redistribute it and/or modify  
#    it under the terms of the GNU General Public License as published by  
#    the Free Software Foundation, version 3.
# 
#    This program is distributed in the hope that it will be useful, but 
#    WITHOUT ANY WARRANTY; without even the implied warranty of 
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU 
#    General Public License for more details.
# 
#    License can be found in < https://github.com/xditya/ChannelAutoForwarder/blob/main/License> .

# Do not copy the license into the .env file
# Do not use quotes (") in the values.

APP_ID=29219263
API_HASH=4ed1b0d3f9394927baac66bcae1a4d53
BOT_TOKEN=6976746689:AAGoPOufnSNOM33iSjBcuxr1KEWpk1hEwk8
FROM_CHANNEL=-1001749307905
TO_CHANNEL=-1001952248822
